.article {
    background: #fff;
    width: calc(33% - 50px);
    box-shadow: 1px 6px 10px rgba(164,164,164,.3);
    margin: 15px;
    @media only screen and (max-width: 600px) {
        width: calc(100%);
    }
    .thumbnail {
        background-size: cover;
        height: 180px;
        background-position: 100%;
    }
    img {
        width: 100%;
        min-height: 200px;
    }
    .info {
        margin-top: 20px;
        padding: 0 10px;
        h2 {
            font-size: 18px;
            line-height: 24px;
            font-weight: 500;
            a {
                color: #119f94;
                text-decoration: none;
            }
        }
        p {
            font-weight: 400;
            padding-bottom: 0;
            color: #808080;
            line-height: 24px
        }
    }
    
}