.article {
    background: #fff;
    width: calc(33% - 50px);
    box-shadow: 1px 6px 10px rgba(164,164,164,.3);
    margin: 15px;
    .thumbnail {
        background-size: cover;
        height: 180px;
        background-position: 100%;
    }
    .info {
        margin-top: 20px;
        padding: 0 10px;
        h2 {
            font-size: 18px;
            line-height: 24px;
            a {
                color: #03A9F4;
                text-decoration: none;
            }
        }
        p {
            padding-bottom: 0;
            color: #808080;
            line-height: 24px
        }
    }
    
}