header {
    background: #009688;
    text-align: center;
    padding: 10px;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    h1 {
        font-size: 20px;
        line-height: 25px;
        a {
            text-decoration: none;
            cursor: pointer;
            color: #fff;
            text-transform: uppercase;
        }
    }
}
